.content-blog {
    text-align: center;
    margin: 0 auto;
    height: 100vh;
    width: 1100px;
}
.front-end {
    margin: 0 auto;
    width:90%;
    height:50%;
}

.des-front-end{
    border: 1.5px solid #BC7CD2;
    border-radius:15px;
    box-shadow: 2px 2px 6px 6px #bd7cd280;
}

.des-front-end h1 {
    font-size: 20px;
    font-weight: 600;
    color:#BC7CD2;
    font-family: 'Poppins';
    padding-top:4px;
    padding-bottom: 0;
    padding-left: 18px;
    text-align: justify;
}
.des-front-end h2 {
    margin:auto 0;
    padding-top: 0;
    padding-bottom: 14px;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Poppins';
    -webkit-text-stroke: 1.8px #BC7CD2;
    color: transparent; 
}

.cursos-front {
    display: flex;
    margin: 0 auto;
    width: 80%;
}

.niveles {
    padding-top: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    width: 340px;
    border-radius:15px;
    box-shadow: 2px 2px 8px 8px #c96fe73f;
}
.niveles img{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
    margin-bottom: -12px;
}
.niveles h1{
    font-weight: bold;
    margin-top: 8px;
    font-size:22px;
}
.niveles h2{
    font-size: 22px;
    font-family: 'Poppins';
    font-weight: bold;
    width:84%;
    margin: 0 auto;
    text-align:center;
    margin-bottom: 16px;
    -webkit-text-stroke: 1px #BC7CD2;
    color: transparent; 
}

